@import '../../../src/common.scss';

badges-auto-complete.form-control,
auto-complete.form-control,
address-auto-complete.form-control {
  padding: 0 !important;

  &.is-valid,
  &.is-invalid {
    background-size: 0 !important;

    & input.form-control {
      padding-right: $input-height-inner !important;
      background-repeat: no-repeat;
      background-position: right $input-height-inner-quarter center;
      background-size: $input-height-inner-half $input-height-inner-half;
    }

    & auto-complete.form-control {
      padding-right: 0 !important;
    }
  }

  &.is-valid {
    & input.form-control {
      background-image: $form-feedback-icon-valid;
    }
  }

  &.is-invalid {
    & input.form-control {
      background-image: $form-feedback-icon-invalid;
    }
  }

  &:focus-within {
    border-color: $input-focus-border-color;
    outline: 0;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    }
    @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $input-focus-box-shadow;
    }
  }

  & input.form-control {
    padding: $input-padding-y $input-padding-x !important;

    &.items-selected {
      padding-top: 0 !important;
    }
  }
}

button.btn-close-badge {
  padding: 0.1em;
  opacity: 1; 
  width: 0.7em;
  height: 0.7em;
}

div.badges-container {
  padding-left: $input-padding-x;
  padding-right: $input-padding-x;
  padding-top: $input-padding-y;
  max-height: 300px;
}
