// Common Bootstrap variables and mixins
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/mixins';
 
// Required Bootstrap variables and mixins
@import '../../../node_modules/bootstrap/scss/variables';

$font-family-sans-serif: 'Nunito Sans',
  -apple-system,
  system-ui,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif !default;

$primary: #00407b;
$secondary: #20a4f3;
$tertiary: #748386;
$light: #bddcdc;
$danger: #dc3545;
$success: #1bbf70;

$toast-font-size: 16px;
$toast-padding-x: 2rem;
$toast-padding-y: 1rem;

$enable-shadows: true;
$enable-reduced-motion: true;

$progress-border-radius: 0;
$progress-height: 8px;

$btn-close-width: 0.7em;
$btn-focus-width: 2px;

$form-feedback-icon-invalid-color: $danger;
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$form-feedback-icon-invalid-color}' class='bi bi-exclamation-triangle-fill' viewBox='0 0 16 16'><path d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/></svg>");

$offcanvas-horizontal-width: 800px;

@each $color, $value in $grays {
  .bg-gray-#{$color} {
    background-color: $value;
  }
}

$navbar-height: 56;
$footer-height: 40;
$sidebar-width: 100;
$sidebar-width-small: 65;
